.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__signup {
  display: flex;
  flex-flow: column nowrap;
}

.app__header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 10px;
}

@media (max-width: 720px) {
  .app__posts {
    flex-wrap: wrap;
  }
  .app__postsLeft {
    order: 1;
  }
  .app__postsRight {
    margin-left: 0;
  }
}
